[submodule "cv-make"]
	path = src/cv-make
	url = git@gitlab.cl.uzh.ch:siclemat/cv-make.git
[submodule "src/conll2017"]
	path = src/conll2017
	url = https://github.com/sigmorphon/conll2017.git
	branch = master
[submodule "data/sigmorphon2016"]
	path = data/sigmorphon2016
	url = https://github.com/ryancotterell/sigmorphon2016.git
[submodule "data/celex"]
	path = data/celex
	url = git@gitlab.cl.uzh.ch:morphology-datasets/sigmorphon-2017-format/celex.git
	branch = master
[submodule "data/Segmentation"]
	path = data/Segmentation
	url = https://github.com/ryancotterell/canonical-segmentation.git
	branch = master
[submodule "data/ddn13"]
	path = data/ddn13
	url = git@gitlab.cl.uzh.ch:morphology-datasets/sigmorphon-2017-format/ddn13.git
	branch = master
[submodule "data/nck15"]
	path = data/nck15
	url = git@gitlab.cl.uzh.ch:morphology-datasets/sigmorphon-2017-format/nck15.git
	branch = master
[submodule "data/canonical-segmentation"]
	path = data/canonical-segmentation
	url = git@gitlab.cl.uzh.ch:morphology-datasets/sigmorphon-2017-format/canonical-segmentation.git
	branch = master
[submodule "data/sigmorphon-task1-2017"]
	path = data/sigmorphon-task1-2017
	url = git@gitlab.cl.uzh.ch:morphology-datasets/sigmorphon-2017-format/sigmorphon-task1-2017.git
	branch = master
[submodule "data/wicentowski-lemmatization"]
	path = data/wicentowski-lemmatization
	url = git@gitlab.cl.uzh.ch:morphology-datasets/sigmorphon-2017-format/wicentowski-lemmatization.git
[submodule "data/celex-by-task"]
	path = data/celex-by-task
	url = git@gitlab.cl.uzh.ch:morphology-datasets/sigmorphon-2017-format/celex-by-task.git
